[package]
name = "yosoi-benchmark-http"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1"
futures-util = "0.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
yosoi = { path = "__YOSOI_CRATE_PATH__" }

[profile.release]
codegen-units = 1
lto = "thin"
strip = "debuginfo"
